@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html{
		     user-select: none;   
		}

			.ch{
			        font-size:40px; 
			font-family:verdana; 
			position:fixed; 
			padding: 20px; 
			width:100%; 
			margin:0px; 
			background-color: maroon; 
			color: white; 
			text-align:center; 
			
			} 



			 

			 body { margin: 0; } 

			 

			 ul { 

				 list-style-type: none; 

				 margin: 88px 0px 0px 0px; 

				 padding: 0; 

				 width: 25%; 

				 float:left;

				 background-color: #ddd; 

				 position:fixed; 

				 height: 100%; 

				 overflow: auto; 

			 }

			 

			 li a { 

				 display: block; 

				 font-size:30px; 

				 color: #000; 

				 padding: 8px 16px; 

				 text-decoration: none; 

			 } 

			 

			 li a.active {

				background-color: red;

				color: white;

			}

			 

			 li a:hover{ 

				 background-color: #000C0E; 

				 color: white; 

			 }



			 .cont{

				width:72%;

				height:auto;

				float:right;

				margin:70px 20px 0px 0px;

				text-align:justify;

				font-size:25px;

			 }

			 

			 p{

				border-bottom:2px solid red;

				padding:10px;

			 }


